<% days.forEach(day => { %>
    <a href="/:`${day_num}`" class="days">
        <section>
                <h2 class="date_header">
                    <%= day.date %>
                </h2>
                <br>
                <p class="holiday_name">
                    <%= day.holiday %>
                </p>
        </section>
    </a>
<% }) %>