<h2>
    <% days.forEach (date =>{ %>
        <%= date.getDate() %>
            <% }) %>
</h2>
<div>
    <% oneMonthHolidays.forEach (dayDisplayed =>{ %>
        <p>
            <% dayDisplayed.holiday.</p>
        <form action="/:day_num" method="POST">
            <input type="text" value="<%= dayDisplayed %>">

                </form>
                <% }) %>
</div>

<!-- <% oneMonthHolidays.forEach( dateDisplayed => {) %>
  <section class="days">
      <%- includes('./partials/days.ejs) %>
  </section>
  <% } %> -->