<% days.forEach(day => { %>
    <div>

        <a href="/:`${day_num}`" class="days">

            <h2>
                <%= day.date %>
            </h2>
            <p>
                <%= day.holiday %>
            </p>

        </a>

    </div>
    <% }) %>