<section class="website_header_footer">
    <h1 class="site_title">TK-Calendar</h1>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
                <!-- <a href="/about">About Us</a> -->
            </li>
        </ul>
    </nav>
</section>
