<section class="website_header_footer">
    <h1 class="site_title">TK-Calendar</h1>
    <nav>
        <ul>
            <li>
                <a class="links" href="/">Home</a>
                <a class="links" href="/aboutUs">About Us</a>
            </li>
        </ul>
    </nav>
</section>