
.day_header {
  font-size: 20pt;
  margin-bottom: 1em;
}

.days {
  background-color: lightblue;
  border: solid #111 0.125em;
  border-radius: 1em;
  color: #111;
  padding: 1em;
  text-decoration: none;
}

.holiday {
  font-size: 18pt;
}
