<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <main>
        <h1 class="about_us_page_title">Meet the Team!</h1>

        <section class="about_us_section">
            <img class="about_us_img" src="https://files.slack.com/files-pri/T039KG69K-FP3GG7170/29313080_1665904473489083_1503784181950316544_n.jpg" width="300" height="auto">
            <h2 class="about_us_name">Enrique, Software Engineer</h2>
            <p class="about_us_description">Comes from a background of Sales, service, and martial arts, having dealt with Timeshares, Cars, Telemarketing, Insurance, Banking, Restaurant Server, Restaurant Manager Karate Teacher, MMA fighter.</p>
        </section>

        <section class="about_us_section">
            <img class="about_us_img" src="https://files.slack.com/files-pri/T039KG69K-FP19WR3Q8/image.png" width="300" height="auto">
            <h2 class="about_us_name">Ethan, JavaScript Engineer</h2>
            <p class="about_us_description">Hard worker, future focused, background in software.</p>
        </section>

        <section class="about_us_section">
            <img class="about_us_img" src="https://avatars3.githubusercontent.com/u/53504634?s=400&v=4">
            <h2 class="about_us_name">Chris, Software Engineer</h2>
            <p class="about_us_description">Assistant Scuba Instructor, I previously wanted to go into the law enforcement field, I continue my passion for assisting those who put their lives on the line, I am interested in working in technology to develop tools and resources for them.</p>
        </section>

        <section class="about_us_section">
            <img class="about_us_img" src="https://ca.slack-edge.com/T039KG69K-UKZQY8E2D-83894697bc65-512" width= "300" height="auto">
            <h2 class="about_us_name">Zerek, Full-Stack JavaScript Developer</h2>
            <p class="about_us_description">life-long experience working in Customer sevices, interested in continuing that passion in the tech industry, creating personalized products that will help the multitudes.</p>
        </section>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>