<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>

        <section>
            <form class="add" action="/:`${day_num}`/add" method="post">
                <input type="">

            </form>
        </section>



    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>